.profile-page {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* Profile Card */
.profile-card {
  display: flex;
  gap: 24px;
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  align-items: center;
}

.profile-icon {
  font-size: 110px;
  color: #2563eb;
  opacity: 0.9;
}

.profile-info {
  flex: 1;
}

.profile-info label {
  display: block;
  font-size: 14px;
  margin-bottom: 14px;
  color: #374151;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  background: #f9fafb;
  font-size: 14px;
  cursor: not-allowed;
}



/* Responsive */
@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .password-row {
    flex-direction: column;
  }
}
